### Config file for MacBak

# Server where your backups are going to
BACKUP_SERVER: 10.0.0.15

# Backup path on the server. Note this directory needs to
# be on the server.
BACKUP_PATH: /home/wernerg/backups/test

# Specifies the backup type to be used. Be VERY carefull with
# the sync option.
# Valid options :
#  - backup   
#  - sync
#  backup option makes a backup to the backup server and never delete
#  anything from the backup server. So if you delete a document on
#  your mac and the backup ran previously the document will stay on the
#  server. This should be the setting most users use.
#  sync option will delete a file on the backup server if you delete
#  it on your local machine. This is usefull if you want to keep
#  your mac in sync with the another mac, that syncs of the same
#  backup server. However if you loose data and MacBak runs after it, your
#  data will be gone on the backup server as well.
BACKUP_TYPE: backup 

# Username for access to $BACKUP_SERVER
USERNAME: wernerg

# SSH key to login to the backup server
SSH_KEY: /Users/wernergillmer/.ssh/id_rsa

# Address where alert email goes to
EMAIL_ADDRESS: wernerg@afrigis.co.za

# Shows "backup completed" alert in certain way.
# Accepted values :
#  growl - Shows a growl popup. If growl is not found it
#          defaults to dialog.
#  dialog - pops a dialog open on your screen.
#  finder_dialog - makes our finder icon bounce, click on it gives dialog.
#  email - send a email out to the addressed specified in EMAIL_ADDRESS
#          after backup. 
#  off - no messages get's send.
#  The default is set to growl, it's by far the least annoying.
ALERT: email 

# List of local directories that you want to backup.
# Add a entry like the example one.
BACKUP_LIST:
- /Users/wernergillmer/Documents
- /Users/wernergillmer/Code
- /Users/wernergillmer/Pictures

