### Config file for MacBak

# TODO : Add functionality here for local or 127.0.0.1
# in which case it will do a backup to the BACKUP_PATH on your
# local machine...say to a external drive.
# Server where your backups are going to
BACKUP_SERVER: 10.0.0.15

# Backup path on the server. Note this directory needs to
# be on the server. Ignore this setting if you use sync as BACKUP_TYPE
BACKUP_PATH: /home/wernerg/backups/macbookpro

# Specifies the backup type to be used. Be VERY carefull with
# the sync option.
# Valid options :
#  - backup   
#  - sync
#  - clone
#  backup option makes a backup to the backup server and never delete
#  anything from the backup server. So if you delete a document on
#  your mac and the backup ran previously the document will stay on the
#  server. This should be the setting most users use.
#  sync option will delete a file on the backup server if you delete
#  it on your local machine. This is usefull if you want to keep
#  your mac in sync with the another mac, that syncs of the same
#  backup server. However if you loose data and MacBak runs after it, your
#  data will be gone on the backup server as well. The sync option replicates
#  to the BACKUP_PATH specified on the server. The clone option is exactly
#  the same as sync, however it will clone to the exact same dir on the server
#  as the local directory path. So a clone of /Users/werner/documents will go
#  to /Users/werner/documents on the backup server.
BACKUP_TYPE: backup 

# Username for access to $BACKUP_SERVER
USERNAME: wernerg

# SSH key to login to the backup server
SSH_KEY: /Users/wernergillmer/.ssh/id_rsa

# Address where alert email goes to
EMAIL_ADDRESS: wernerg@afrigis.co.za

# Shows "backup completed" alert in certain way.
# Accepted values :
#  growl - Shows a growl popup. If growl is not found it
#          defaults to dialog.
#  email - send a email out to the addressed specified in EMAIL_ADDRESS
#          after backup.  
#  off - no messages get's send.
ALERT: off 

# List of local directories that you want to backup.
# Add a entry like the example one.
BACKUP_LIST:
- /Users/wernergillmer/Documents
- /Users/wernergillmer/Code
- /Users/wernergillmer/Pictures

